@import "tailwindcss";
@import "./styles/theme.css";

body {
  background-color: var(--color-background);
  font-family: system-ui, -apple-system, sans-serif;
}


@keyframes slowZoom {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}

.animate-slow-zoom {
  animation: slowZoom 20s ease-in-out infinite alternate;
}


@keyframes bounceSoft {
  0%, 100% {
    transform: translateY(0);
    opacity: 0.8;
  }
  50% {
    transform: translateY(6px);
    opacity: 1;
  }
}

.animate-bounce-soft {
  animation: bounceSoft 1.8s infinite;
}